<div >
  <!-- <h1>GET API SAMPLE</h1>
  <button mat-raised-button color="accent" (click)="getData()">Get API</button>
  <hr />
  <h2>ASYNC PIPE</h2>
  <ul>
    <li *ngFor="let data of data$ | async; index as i">
      {{ data.name }}
    </li>
  </ul>
  <br />
  <h2>SIMPLE FETCH</h2>
  <ul>
    <li *ngFor="let data of dataSimple">
      {{ data.name }}
    </li>
  </ul>
  <br />

  <hr />
  <br />
  <h2>PASS AS OBJECT || ARRAY {{ simpleTitle }}</h2>

  <ul>
    <li *ngFor="let data of dataSample">
      {{ data.name }}
    </li>
  </ul>
  <br />
  <hr /> -->

  <!-- <form class="example-form"> -->
    <!-- <h2>BUILD -2</h2> -->
        <!-- <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Number-7</mat-label>
          <input type="text"
                 placeholder="Pick one"
                 aria-label="Number"
                 matInput
                 [formControl]="myControl"
                 [matAutocomplete]="auto">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>


      <button mat-button (click)="openDialog()">Open dialog</button> -->
      <button mat-button (click)="debugMe()">Debug ME</button>
</div>
